.hero-section{
    margin: 94px 165px 115px 165px;  
}

.hero-section img{
    height: 500px;
}

.column{
    display: flex;
    justify-content: space-between;
    margin: 0px 165px 64px 165px;
}

.manage{
    border-top: 1px solid rgba(51, 50, 61, 0.15);
    border-bottom: 1px solid rgba(51, 50, 61, 0.15);
    padding-top: 48px;
    width: 350px;
    height: 500px;
}

.manage h2{
    margin-bottom: 29px;
}

.manage .txt{
    line-height: 30px;
    color: #33323D;
    mix-blend-mode: normal;
    opacity: 0.8;
    margin-bottom: 53px;
}

.manage .tec{
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    color: #5FB4A2;
    margin-top: 16px;
}

button{
    margin-top: 49px;
    margin-bottom: 48px;
    border: 1px solid #33323D;
    text-align: center;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    padding: 17px 60px;
}

button:hover{
    background-color:  #33323D;
    color:#FAFAFA;
}

.projeto{
    width: 635px;
}

.projeto h3{
    margin-bottom: 28px;
}

.projeto p{
    font-size: 15px;
    line-height: 30px;
    color: #33323D;
    mix-blend-mode: normal;
    opacity: 0.8;
    margin-bottom: 40px;
}

.projeto p a{
    text-decoration: underline;
}
.projeto img{
    width: 635px;
    margin-bottom: 32px;
}

.pages{
    border-top: 1px solid rgba(51, 50, 61, 0.15);
    border-bottom: 1px solid rgba(51, 50, 61, 0.15);
    padding: 32px 0px;
    margin: 0px 165px 115px 165px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn{
    display: flex;
    align-items: center;
}

.btn p{
    font-size: 16px;
    line-height: 30px;
    color: #33323D;
    mix-blend-mode: normal;
    opacity: 0.5;
}

.left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin: 0px 32px;
}

.right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    margin: 0px 32px;
}